:host {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: row;
  --grid-count:l;


  @media (max-width: 900px) {
    width: 50%;
    --grid-count:md;
  }
}
